.right {
  float:right;
}

.staff_button {
  padding-top: 10px;
}

body {
  background: rgb(0, 41, 73);
}

.center {
  height: 170px;
  width: 300px;
  margin: 0 auto;
}

.confirm {
  margin-top:5px;
}

.btn_center {
  margin-top: 7px;
}

.second {
  border-left: solid #c7c9cc;
}

.third {
  border-left: solid #c7c9cc;
}

li .list-group-item div {
  padding: 0;
}

div .second {
  text-align: right;
}

.custom {
  background: rgba(0, 0, 128, 1);
}
